{% extends 'base.html' %}
{% load static %}

	{% block content %}
  {% if user.is_authenticated %}
             <p class="display-4" style="color: white">Hello, {{ user.username }}</p>
            <a href="{% url 'logout' %}" style="color: white">log out</a>
  {% else %}
            <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}" style="color: blue; font-size: 1.5vw">Login with Google<span class="sr-only">(current)</span>  {% endif %}
  <h1 id="id_favorite" style="color: white">Favorite : 0</h1>
  <div class="search-container">
    <table action='/jsonlibrary'>
    <input id="cari" type="text" placeholder="Search.." name="search">
    <button onclick="searchBar()" type="submit">Submit</button>
    </table>
  </div>
  <p></p>
<!--   <div class="container" style="text-align:right">
    <div>
      <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}" style="color: blue; font-size: 1.5vw">Login with Google<span class="sr-only">(current)</span></a>
      <p></p>
      <a href="{% url 'logout' %}" style="color: white">log out</a>
    </div>
</div> -->
<p></p>



  <div class="container">

  	<div class="panel">

    <table id="example" class="table table-striped table-dark" style="width:100%">
      <thead>
        <tr>
          <th>Image</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Favorite</th>
        </tr>
      </thead>
        <tbody id="id_table">
    </tbody>
    </table>
	</div>
	</div>
{% endblock %}