{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
             <p class="display-4" style="color: white">Hello, {{ user.username }}</p>
             <a class="btn shadow" href="{% url 'book' %}" style="color: white">Go to Library</a>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Lo</a>
	{% endif %}
{% endblock content %}