{% extends 'base.html' %}
{% load static %}

	{% block content %}

  <h1 class="text-center" style="color: white; ">Halo, apa kabar?</h1>
  <div class="accordion">
      <button class="accordion-toggle">Aktifitas</button>
        <div class="accordion-contain">
          <p style="color: white">Aktifitas saya saat ini yaitu rapat untuk kepanitiaan, rapat untuk organisasi, dan juga belajar untuk mata kuliah yang saya ambil. Saya juga berolahraga setiap akhir pekan untuk menjaga badan saya tetap sehat. Saya juga sedang sibuk mempersiapkan pre-proposal dan bidding di kepanitiaan yang saya ikuti</p>
        </div>
      <button class="accordion-toggle">Kepanitiaan/Organisasi</button>
        <div class="accordion-contain">
          <p style="color: white">Kepanitiaan yang saya ambil untuk semester ini yaitu PMB Fasilkom 2018 sebagai divisi acara, Wisuda Ganjil 2019 sebagai divisi acara, CompFest XI sebagai divisi finance. Sementara organisasi yang saya ikuti yaitu BEM Fasilkom UI di Departemen Kajian dan Aksi Strategis. Sementara saya telah mengikuti kepanitiaan CGT sebagai staff acara, CompFest X sebagai staff offline marketing, dan betis sebagai mentor.</p>
        </div>
      <button class="accordion-toggle">Prestasi</button>
        <div class="accordion-contain">
          <p style="color: white">Untuk prestasi yang pernah saya raih yaitu pada saat SD saya menjuarai kompetisi sepak bola se Jakarta dan juga kompetisi bola basket se Jakarta. Masuk SMP saya juga menjuarai lomba cerdas cermat tingkat Kota Jakarta, juga menjuarai lomba debat Tingkat Kota/Kabupaten. Saat SMA saya menjuarai liga Futsal dan berhasil menjuarai CUP sepak bola SMA se Jakarta.</p>
        </div>
  </div>

<p></p>
  <form action="doing_some" method="POST" class="form-group">
    <div style="background-color: white" class="container">
      {% csrf_token %}
      {{ form }}
      <button class="registerbtn" type="submit" value="Submit" name="send" id="kirim">Send</button>
    </div>
  </form>
  <div class="flex-item">
    {% if todo %}
      {% for data in todo %}
        <p></p>
        <div id="course-name">
          {{data.status}}
        </div>
        <div id="course-name">
          {{data.create_date}}
        </div>
        <p></p>
      {% endfor %}
    {% else %}
    <div class="alert alert-danger text-center">
      <strong>Oops!</strong> Tidak ada status.
    </div>
    {% endif %}
  </div>
  {% endblock %}
