{% extends 'base.html' %}
{% load static %}

	{% block content %}

    <h2><span class="count">List Subscriber</span></h2>
    <br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      
  {% endblock %}