{% extends 'base.html' %}
{% load static %}

	{% block content %}

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title" style="color: white">Sign up</h2>
                        <form class="contact-form validate-form" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name }}
                            <span class="focus-input"></span>
                            </div>
                            <div class="wrap-input validate-input" data-validate="Valid email is required" data-validate2="Email already registered">
                                {{ form.email }}
                                <span class="focus-input"></span>
                                <br>
                            </div>
                            <div class="wrap-input validate-input" data-validate="Password is required">
                                {{ form.password }}
                                <span class="focus-input"></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="btnsub" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

 <div class="container" id="initabel">
    <br>
    <h2><span class="count">List Subscriber</span></h2>
    <br>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col" style="text-align: center">Unsubscribe</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    <br>
    </div>
</div>

  {% endblock %}